<!-- This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
     If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/. -->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <TargetFramework>net10.0-windows10.0.19041.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <WindowsAppSDKSelfContained>false</WindowsAppSDKSelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishDir>bin\x64\Release\net10.0-windows10.0.19041.0\publish\dotnet-self-contained-win-x64\</PublishDir>
  </PropertyGroup>
</Project>
